In [2]:
import pandas as pd

In [21]:
preprocessed_TOTs = pd.read_csv("../AdVitam/Exp2/Preprocessed/Physio and Driving/timestamps_obstacles.csv")
preprocessed_TOTs.iloc[:, 2:] = preprocessed_TOTs.iloc[:, 2:].apply(pd.to_timedelta, unit="s")
preprocessed_TOTs["subject_id"] = preprocessed_TOTs["subject_id"].apply(lambda x: x.split("T")[0] + "T" + x.split("T")[1].zfill(2))
preprocessed_TOTs["subject_id"] = preprocessed_TOTs["subject_id"].astype(str)
preprocessed_TOTs.drop(columns=["label_st"], inplace=True)
preprocessed_TOTs.sort_values(by=["subject_id"], inplace=True)
preprocessed_TOTs.set_index("subject_id", inplace=True)
preprocessed_TOTs

,TrigObsDeer,DetObsDeer,RepObsDeer,TrigObsCone,DetObsCone,RepObsCone,TrigObsFrog,DetObsFrog,RepObsFrog,TrigObsCan,DetObsCan,RepObsCan,TrigObsFA1,DetObsFA1,RepObsFA1,TrigObsFA2,DetObsFA2,RepObsFA2
subject_id,,,,,,,,,,,,,,,,,,
NST01,0 days 00:02:56.705100,0 days 00:02:59.093200,0 days 00:03:03.523800,0 days 00:06:56.214000,0 days 00:06:58.510900,0 days 00:06:58.690200,0 days 00:08:34.815700,0 days 00:08:38.845600,NaT,0 days 00:13:06.640800,0 days 00:13:12.859100,NaT,0 days 00:16:23.624000,NaT,NaT,0 days 00:18:02.245000,0 days 00:18:06.363000,NaT
NST03,0 days 00:13:35.204000,0 days 00:13:38.469300,0 days 00:13:39.824400,0 days 00:10:19.808800,0 days 00:10:21.816700,0 days 00:10:23.032200,0 days 00:04:19.471200,0 days 00:04:23.789000,NaT,0 days 00:17:07.400900,0 days 00:17:10.785900,NaT,0 days 00:06:18.340900,NaT,NaT,0 days 00:18:35.174900,0 days 00:18:42.818900,NaT
NST05,0 days 00:07:08.961300,0 days 00:07:10.742400,0 days 00:07:11.272600,0 days 00:12:23.166400,0 days 00:12:24.461700,0 days 00:12:38.273600,0 days 00:14:59.418600,0 days 00:15:00.724600,0 days 00:15:02.753600,0 days 00:04:28.071600,0 days 00:04:29.987500,0 days 00:04:31.402700,0 days 00:02:23.631400,0 days 00:02:24.742400,NaT,0 days 00:10:29.173600,0 days 00:10:30.421200,NaT
NST07,0 days 00:02:36.060300,0 days 00:02:39.121900,0 days 00:02:46.883100,0 days 00:06:11.856300,0 days 00:06:13.610700,0 days 00:06:15.090900,0 days 00:08:28.559300,0 days 00:08:31.772600,0 days 00:08:32.484500,0 days 00:12:00.085800,0 days 00:12:02.153100,0 days 00:12:02.817700,0 days 00:16:34.142400,0 days 00:16:37.435400,NaT,0 days 00:18:05.472400,0 days 00:18:08.195400,NaT
NST09,0 days 00:13:11.586070,0 days 00:13:13.970070,0 days 00:13:16.070470,0 days 00:08:18.826970,0 days 00:08:20.710570,0 days 00:08:22.473270,0 days 00:03:16.580170,0 days 00:03:21.515270,0 days 00:03:24.339770,0 days 00:15:36.305270,0 days 00:15:38.094270,0 days 00:15:39.460270,0 days 00:05:37.980670,0 days 00:05:52.104570,NaT,0 days 00:19:03.294270,0 days 00:19:07.322270,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ST82,0 days 00:16:22.060600,0 days 00:16:25.019600,0 days 00:16:26.115600,0 days 00:11:27.337900,0 days 00:11:30.174000,0 days 00:11:31.206600,0 days 00:05:00.722700,0 days 00:05:05.274800,0 days 00:05:04.673200,0 days 00:02:09.414300,0 days 00:02:12.728300,NaT,0 days 00:08:01.118200,0 days 00:08:23.261900,NaT,0 days 00:13:10.705300,0 days 00:13:37.020600,NaT
ST84,0 days 00:13:08.533100,0 days 00:13:10.099000,0 days 00:13:15.842500,0 days 00:16:19.256299999,0 days 00:16:20.686300,0 days 00:16:22.944300,0 days 00:02:01.331000,0 days 00:02:02.753000,0 days 00:02:04.980400,0 days 00:08:02.602800,0 days 00:08:04.146900,0 days 00:05:04.680500,0 days 00:02:01.331000,0 days 00:02:02.753000,0 days 00:02:04.980400,0 days 00:05:00.889300,0 days 00:05:02.173200,0 days 00:05:04.680500
ST86,0 days 00:05:00.561600,0 days 00:05:02.025700,0 days 00:05:03.506499999,0 days 00:02:56.399600,0 days 00:02:57.203300,0 days 00:03:04.042600,0 days 00:13:40.438800,0 days 00:13:42.381800,0 days 00:13:45.033800,0 days 00:16:52.421300,0 days 00:16:54.161300,0 days 00:16:54.876300,0 days 00:08:11.486600,0 days 00:08:13.166100,NaT,0 days 00:10:30.702800,0 days 00:10:32.862900,NaT
ST88,0 days 00:17:33.644200,0 days 00:17:35.548200,0 days 00:17:38.642200,0 days 00:11:47.429500,0 days 00:11:49.730800,0 days 00:11:52.368200,0 days 00:05:03.127099999,0 days 00:05:07.203900,0 days 00:05:07.837400,0 days 00:02:22.286400,0 days 00:02:23.154300,NaT,0 days 00:08:03.736300,0 days 00:08:08.586700,NaT,0 days 00:13:32.521300,0 days 00:13:34.723000,NaT
ST90,0 days 00:14:09.960520,NaT,0 days 00:14:13.610620,0 days 00:16:20.642420,0 days 00:16:27.053420,0 days 00:16:27.309420,0 days 00:11:01.114720,0 days 00:11:47.037320,0 days 00:11:04.665620,0 days 00:08:02.455920,0 days 00:08:03.894120,0 days 00:08:06.598320,0 days 00:02:00.550120,0 days 00:02:04.387120,NaT,0 days 00:05:01.298920,0 days 00:05:02.642020,NaT

In [20]:
manually_processed_TOTs = pd.read_csv("../Physiological Preprocessed/Exp2/driver_takeover_times.csv")
manually_processed_TOTs.rename(columns={"Unnamed: 0": "subject_id"}, inplace=True)
manually_processed_TOTs.iloc[:, 2:] = manually_processed_TOTs.iloc[:, 2:].apply(pd.to_timedelta)
manually_processed_TOTs.sort_values(by="subject_id", inplace=True)
manually_processed_TOTs.set_index("subject_id", inplace=True)
manually_processed_TOTs

,TriggeredObs1,ResponseObs1,TOTObs1,TriggeredObs2,ResponseObs2,TOTObs2,TriggeredObs3,ResponseObs3,TOTObs3,TriggeredObs4,ResponseObs4,TOTObs4
subject_id,,,,,,,,,,,,
NST01,0 days 00:05:11.971100,0 days 00:05:18.795800,0 days 00:00:06.824700,0 days 00:09:11.486000,0 days 00:09:13.962200,0 days 00:00:02.476200,0 days 00:10:50.087700,0 days 00:10:54.168900,0 days 00:00:04.081200,0 days 00:15:21.912800,NaT,NaT
NST03,0 days 00:16:04.012100,0 days 00:16:08.632500,0 days 00:00:04.620400,0 days 00:12:48.616900,0 days 00:12:51.840300,0 days 00:00:03.223400,0 days 00:05:19.123600,NaT,NaT,0 days 00:19:36.209000,NaT,NaT
NST05,0 days 00:10:02.155700,0 days 00:10:04.467000,0 days 00:00:02.311300,0 days 00:15:16.360800,0 days 00:15:31.468000,NaT,0 days 00:17:52.613000,0 days 00:17:55.948000,0 days 00:00:03.335000,0 days 00:07:21.266000,0 days 00:07:24.597100,0 days 00:00:03.331100
NST07,0 days 00:04:45.647900,0 days 00:04:56.470700,NaT,0 days 00:08:21.443900,0 days 00:08:24.678500,0 days 00:00:03.234600,0 days 00:10:38.146900,0 days 00:10:42.072100,0 days 00:00:03.925200,0 days 00:14:09.673400,0 days 00:14:12.405300,0 days 00:00:02.731900
NST09,0 days 00:14:40.161800,0 days 00:14:44.646200,0 days 00:00:04.484400,0 days 00:09:47.402700,0 days 00:09:51.049000,0 days 00:00:03.646300,0 days 00:04:45.155900,0 days 00:04:52.915500,0 days 00:00:07.759600,0 days 00:17:04.881000,0 days 00:17:08.036000,0 days 00:00:03.155000
...,...,...,...,...,...,...,...,...,...,...,...,...
ST80,0 days 00:08:22.660800,0 days 00:08:27.314400,0 days 00:00:04.653600,0 days 00:05:22.781700,0 days 00:05:26.314100,0 days 00:00:03.532400,0 days 00:16:36.592000,0 days 00:16:42.797000,0 days 00:00:06.205000,0 days 00:19:48.394000,0 days 00:19:52.411000,0 days 00:00:04.017000
ST82,0 days 00:19:49.288000,0 days 00:19:53.343000,0 days 00:00:04.055000,0 days 00:14:54.565300,0 days 00:14:58.434000,0 days 00:00:03.868700,0 days 00:08:27.950100,0 days 00:08:31.900600,0 days 00:00:03.950500,0 days 00:05:36.641400,NaT,NaT
ST86,0 days 00:07:20.256299999,0 days 00:07:23.201200,0 days 00:00:02.944900001,0 days 00:05:16.094300,0 days 00:05:23.737300,0 days 00:00:07.643000,0 days 00:16:00.133500,0 days 00:16:04.728500,0 days 00:00:04.595000,0 days 00:19:12.116000,0 days 00:19:14.571000,0 days 00:00:02.455000
ST88,0 days 00:19:38.243000,0 days 00:19:43.241000,0 days 00:00:04.998000,0 days 00:13:52.028300,0 days 00:13:56.967000,0 days 00:00:04.938700,0 days 00:07:07.725900,0 days 00:07:12.436200,0 days 00:00:04.710300,0 days 00:04:26.885200,NaT,NaT
ST90,0 days 00:15:17.647100,0 days 00:15:21.297200,0 days 00:00:03.650100,0 days 00:17:28.329000,0 days 00:17:34.996000,0 days 00:00:06.667000,0 days 00:12:08.801300,0 days 00:12:12.352200,0 days 00:00:03.550900,0 days 00:09:10.142500,0 days 00:09:14.284900,0 days 00:00:04.142400

In [30]:
preprocessed_TOTs["TrigObsDeer"] = pd.to_timedelta(preprocessed_TOTs["TrigObsDeer"])
manually_processed_TOTs["TriggeredObs1"] = pd.to_timedelta(manually_processed_TOTs["TriggeredObs1"])

triggers = manually_processed_TOTs["TriggeredObs1"].apply(lambda x: x.total_seconds()) - preprocessed_TOTs["TrigObsDeer"].apply(lambda x: x.total_seconds())
triggers = triggers.to_frame()
triggers.columns = ["TrigObsDeer - TriggeredObs1"]
triggers["TrigObsDeer - TriggeredObs1"] = pd.to_timedelta(triggers["TrigObsDeer - TriggeredObs1"], unit="s")
triggers

           TrigObsDeer - TriggeredObs1
subject_id
NST01           0 days 00:02:15.266000
NST03           0 days 00:02:28.808100
NST05           0 days 00:02:53.194400
NST07           0 days 00:02:09.587600
NST09           0 days 00:01:28.575730
...                                ...
ST82            0 days 00:03:27.227400
ST84                               NaT
ST86            0 days 00:02:19.694699
ST88            0 days 00:02:04.598800
ST90            0 days 00:01:07.686580

[91 rows x 1 columns]